<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head" %>
  </head>
  <body>
    <%= yield %>
    <%= render "layouts/shared/footer" %>
    <%= render "layouts/shared/js" %>
    <%= yield(:after_js) %>
  </body>
</html>
